/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;0,700;1,100;1,500;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
    --blue: #2c2992;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

/* nav */

.containerr{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.clicked{
    background: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.clicked a{
    color: var(--blue);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.clicked a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.clicked a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


/* main */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: var(--black2);
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.role{
    font-size: 1.1em;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* teacher */

.profile-header{
    margin: 30px 30px 40px;
    font-size: 32px;
    font-weight: 700;
    color: var(--blue);
}

.teacher-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: var(--white);
}

.profile-img{
    text-align: center;
}

.profile-img img{
    width: 50%;
    height: 100%;
}

/* image update starts*/
.image-upload{
    display: block;
    text-align: center;
}
.image-upload .btn-primary{
    background-color: var(--blue);
}
/* image update ends */


.profile-head h5{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue);
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
    background-color: var(--black2);
    text-decoration: none;
}
.profile-edit-btn:hover{
    color: var(--white);
    background-color: var(--blue);
}

a{
    text-decoration: none;
}

.profile-details{
    margin-top: 3rem;
}

.profile-details label{
    font-size: 1.1rem;
    color: var(--blue);
}

.profile-details p{
    font-size: 1rem;
}

.btn-outline-primary{
    border-color: var(--blue);
    color: var(--blue);
}

.btn-outline-primary:hover{
    background-color: var(--blue);
}


.form {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #fff;
    margin: 3% auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    /* border-bottom: 5px solid #ccc; */
}

input {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #bebed2;
    transition: all .3s;
}
.form p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
    transition: all .3s;
}
button {
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background: 0;
    color: var(--blue);
    cursor: pointer;
    transition: all .3s;
}
button:hover {
    background: var(--blue);
    color: #fff;
}
.text-right{
    text-align: right;
}

.relative{
    position: relative;
}

.form-control:focus{
    border-color: var(--blue);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(30, 102, 195);
}

input:focus{
    color: var(--black1);
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}




/* --- Media Queries --- */

@media only screen and (max-width: 600px) {
    p:before{
        content: attr(type);
        width: 100%
    }
    input{
        width: 100%;
    }
}



/* Responsive */
@media (max-width: 990px){
    .navigation{
        width: 300px;
        left: 0;
    }
    .navigation.active{
        left: -300px;
    }
    .main{
        left: 300px;
    }
    .main.active{
        width: 100%;
        left: 0;
    }
    
}

@media (max-width: 768px){
    
}

@media (max-width: 480px){
    
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 10001;
    }
    .main.active .toggle{
        right: 0;
        left: initial;
        color: var(--white);
    }
}